<h1>New Message</h1>

<%= form_with(model: @message) do |f| %>

  <% if @message.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h5>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :chat_id, "Chat" %>
    <%= f.select :chat_id, Chat.all.map { |c| ["Chat ##{c.id}: #{c.sender.email} ↔ #{c.receiver.email}", c.id] }, { prompt: "Select chat" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_id, "Author" %>
    <%= f.select :user_id, User.all.map { |u| [u.email, u.id] }, { prompt: "Select author" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body, "Message" %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit "Send Message", class: "btn btn-primary mt-2" %>
<% end %>


