<h1>User #<%= @user.id %></h1>

<p><strong>Full Name:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Created At:</strong> <%= @user.created_at %></p>
<p><strong>Updated At:</strong> <%= @user.updated_at %></p>

<%= link_to 'Back to Users', users_path, class: "btn btn-primary" %>


<% if can? :manage_profile, @user %>
  <h2>Chats</h2>
  <% if @user.all_chats.any? %>
    <ul>
      <% @user.all_chats.each do |chat| %>
        <li>
          Chat ID: <%= link_to chat.id, chat_path(chat) %> -
          Participants:
          <%= User.find(chat.sender_id).email %> &
          <%= User.find(chat.receiver_id).email %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No tienes chats.</p>
  <% end %>

  <h2>Messages Sent</h2>
  <% if @messages.any? %>
    <ul>
      <% @messages.each do |message| %>
        <li>
          [Chat ID: <%= link_to message.chat_id, chat_path(message.chat_id) %>] 
          <strong><%= message.body %></strong> 
          at <%= message.created_at.strftime("%Y-%m-%d %H:%M") %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No has enviado mensajes.</p>
  <% end %>
<% end %>
