<h1>Edit Chat</h1>

<%= form_with model: @chat do |form| %>

  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h5>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :sender_id, "Sender" %>
    <%= form.select :sender_id, User.all.collect { |u| [u.email, u.id] }, { prompt: "Select sender" }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :receiver_id, "Receiver" %>
    <%= form.select :receiver_id, User.all.collect { |u| [u.email, u.id] }, { prompt: "Select receiver" }, class: 'form-control' %>
  </div>

  <%= form.submit "Update Chat" %>
<% end %>
