<h1>New Chat</h1>

<%= form_with(model: @chat) do |f| %>
  <% if @chat.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(@chat.errors.count, "error") %> prohibited this chat from being saved:</h5>
      <ul>
        <% @chat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :sender_id, value: current_user.id %>


  <div class="mb-3">
    <%= f.label :receiver_id, "Select Receiver", class: "form-label" %>
    <%= f.collection_select :receiver_id, User.where.not(id: current_user.id), :id, :email, {}, class: "form-select" %>
  </div>


  <%= f.submit "Create Chat", class: "btn btn-primary mt-2" %>
<% end %>